@keyframes second {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  93% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-seconds {
  animation: second 5s;
}

.glow {
  animation: glowRotating 10s linear infinite;
}

@keyframes blick {
  0% {
    box-shadow: 0px 0px 0px 0px #5773d681;
  }
  50% {
    box-shadow: 0px 0px 0px 4px #5773d681;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #5773d681;
  }
}

@keyframes glowRotating {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.translate-enter-active,
.translate-leave-active {
  transition: all 0.65s ease;
}

.translate-enter-from,
.translate-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.65s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
